<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yjkj.framework.rbac.business.dao.BusinessDao">
	<resultMap type="com.yjkj.framework.rbac.business.model.Business" id="businessMap">
	</resultMap>
	<select id="informationLoad" parameterType="java.util.HashMap"
		resultMap="businessMap">
		SELECT
		*
		FROM
		business 
		<where>
			is_delete = '0'
		</where>
		ORDER BY
		id
		DESC
		LIMIT
		#{pager.offSet},#{pager.pageSize}
	</select>
	<select id="informationLoadAll"
		resultMap="businessMap">
		SELECT
		*
		FROM
		business 
		<where>
			is_delete = '0'
		</where>
		ORDER BY
		id
		DESC
	</select>
	<select id="count" resultType="int">
		SELECT
		COUNT(*)
		FROM
		business
		<where>
			is_delete = '0'
		</where>
	</select>
	<select id="informationLoadOne"  resultMap="businessMap">
		SELECT
		*
		FROM
		business
		WHERE
		id=#{id}
	</select>


	<delete id="informationDelete" >
		UPDATE
		business
		SET
		is_delete = '1'
		WHERE id=#{id}
	</delete>


	<insert id="informationAdd" parameterType="com.yjkj.framework.rbac.business.model.Business">
		INSERT INTO
		business
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="is_delete != null">
				is_delete,
			</if>
			<if test="flag != null">
				flag,
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="phone != null">
				#{phone},
			</if>
			<if test="content != null">
				#{content},
			</if>
			<if test="createtime != null">
				#{createtime},
			</if>
			<if test="is_delete != null">
				#{is_delete},
			</if>
			<if test="flag != null">
				#{flag},
			</if>
		</trim>
	</insert>
	<update id="informationUpdate" parameterType="com.yjkj.framework.rbac.business.model.Business">
		UPDATE
		business
		<set>
			<if test="name != null">
				name=#{name},
			</if>
			<if test="address != null">
				address=#{address},
			</if>
			<if test="phone != null">
				phone=#{phone},
			</if>
			<if test="content != null">
				content=#{content},
			</if>
			<if test="createtime != null">
				createtime=#{createtime},
			</if>
			<if test="is_delete != null">
				is_delete=#{is_delete},
			</if>
			<if test="flag != null">
				flag=#{flag},
			</if>
		</set>
		WHERE id=#{id}
	</update>
</mapper>